@use 'variables';

/* typography */
.ff-inter {
  font-family: var(--ff-inter);
}

/* Esto es muy especifico y son muy chiquitos, asi que no importa*/
.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.fw-light {
  font-weight: var(--light);
}

.fw-medium {
  font-weight: var(--medium);
}

.fw-bold {
  font-weight: var(--bold);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  margin-inline: auto;
  width: min(88rem, 90%); //1400px aprox
}
