:root {
  // ### Body Copy
  // - Homepage Items: 14px
  // - Detail Page: 16px

  /* font-sizes */
  --fs-small: 1rem;
  --fs-large: 1.5rem;

  /* font-families */
  --ff-nunito: 'Nunito Sans', sans-serif;

  /* font-weights */
  --lighter: 300;
  --medium: 600;
  --bold: 800;

  /* breakpoints */
  --mobile: 375px;
  --desktop: 1440px;

  /* colors */
  // - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
  // - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
  // - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
  // - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
  // - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
  // - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
  --dark-blue-dm: 209, 23%, 22%;
  --very-dark-blue-dm: 207, 26%, 17%;
  --very-dark-blue-lm: 200, 15%, 8%;
  --dark-grey-lm: 0, 0%, 52%;
  --very-light-grey-lm: 0, 0%, 98%;
  --white: 0, 0%, 100%;

  /* Other */
  --border-radius: 1.5rem;
  --home-spacing: 1.5rem;
}
